* {
    margin: 0;
    font-family: font-family: 'Work Sans';
}

.header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no;
    background-position: center;
    background-color: #FFFFFF;
    height: 808px;
    width: 1600px;
    background-size: 100% 100%;
    text-align: right;

}

/* banner styles */
.banner {
    padding-top: 216px;
    padding-right: 230px;
    padding-left: 950px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    padding-top: 216px 230px;
}

.banner-description {
    color: #444343;
    font-size: 16px;
    margin-bottom: 24px;
}

.contact-btn {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
}

/* my failurs styles */
.my-failurs {
    display: flex;
    gap: 87px;
    margin: 130px;
    align-items: center;

}

.my-failus-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    padding-right: 322px;


}

.failurs-sub-title {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    padding-right: 322px;
}

.my-failurs-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    padding-right: 322px;
}

/* my plans styles */
.my-plans {
    padding: 130px 230px;
}

.section-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    text-align: center;
    gap: 80px;
    align-items: center;

}

.skill-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.skill-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

/* gradient styles */
.gradient {
    margin: 130px 230px;
    background-image: url(../images/watch.png), url(../images/gradient2.png);
    background-repeat: no-repeat, repeat;
    background-position: right bottom, left top;
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    background-size: cover;


}

.gradient-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}

.secondary-btn {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    border-radius: 5px;
    background: #FFFFFF;
}

.gradient-padding {
    padding-top: 60px;
    padding-left: 60px;
}

/* contact styles */
.contact {
    background-size: cover;
    display: flex;
    gap: 331px;
    background-color: #151414;
    padding: 130px 230px;
}

.contact-section-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.contact-description,
.email,
.phone {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

input {

    height: 60px;
    font-weight: 400;
    font-size: 18px;

}

.contact a {
    text-decoration: none;
}

.contact input[type=email] {
    border: 1px white;
    margin-bottom: 16px;
    background-color: black;
    color: #F3F3F3;
    padding: 18px 30px;
}